.container {

  max-width: 80em;
  padding: 0 2em;
  margin: 0 auto;

  @include mobile() {
    padding: 0 1em;
  }

}

.row {
  margin-bottom: 1.5em;
}

.row-flex {
  @include desktop() {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-content: stretch;
  }
}