@mixin mobile() {
    @media all and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet() {
    @media all and (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop() {
    @media all and (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin horizontalList() {

    list-style: none;
    padding: 0;
    margin: 0;

    li {

        display: inline-block;
        margin: 0 .5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

}


@mixin overrideLinkColor($color) {

    color: $color;

    &:hover,
    &:focus,
    &:active {
        color: $color;
    }

    &:visited {

        color: $color;

        &:hover,
        &:active {
            color: $color;
        }

    }

}