.single,
.page {



}

.page-meta {

    color: $color-grey4;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 2em 0 .7em;

    li {

        display: inline-block;
        margin: 0 .5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    a {

        color: inherit;
        text-decoration: none;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }

    }

    .post-edit-link {

        i {
            font-size: .8em;
            margin-right: .4em;
        }

    }

}

.page-meta-categories {

    color: $color-grey7;
    font-weight: 600;

}

.page-content {

    // margin-bottom: 4em;

}

.page-content-body {

    margin-bottom: 2em;

    h2,
    h3,
    h4,
    h5,
    h6 {

        &:first-child {
            margin-top: 0;
        }

    }

    .no-styles {

        list-style: none;
        padding: 0;
        margin: 0;

    }

    .page-meta {
        text-align: left;
    }

}

.page-content-footer {

    margin-bottom: 3em;

    &:last-child {
        margin-bottom: 0;
    }

}

.page-content-footer-links {

    list-style: none;
    padding: 0;
    margin: 0;

    li {

        display: inline-block;
        margin: 0 .5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    a {

        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }

    }

    i {
        font-size: .8em;
        margin-right: .4em;
    }

}

.page-content-images {
    text-align: center;
}