$fa-font-path: "assets/fonts";

@import '~normalize.css';

@import 'settings/settings';
@import 'util/util';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $font-color-base;
  font-family: $font-family-base;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.row {

  padding: 1.5em 0;
  background-color: white;

  @include mobile() {
    padding: 1em;
  }

}

.page-title {
  margin: 0;
}

@import 'components/components';
@import 'pages/pages';
@import 'partials/partials';

.mfp-bg {
  background-color: $color-grey4;
}

.mfp-figure {

  &:after {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

}

.mfp-arrow {

  &:before {
    border-left: 0;
    border-right: 0;
  }

}

.logo-svg {
  fill: currentcolor;
}