@import "styles/settings/__settings";

.button {
  color: white;
  font-family: inherit;
  font-weight: 700;
  background-color: $color-primary;
  padding: 0.8em 1.4em;
  border-radius: $border-radius-small;
  border: 0;
  cursor: pointer;
}
