.article-meta {

    color: $color-grey4;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 2em 0 .7em;

    li {

        display: inline-block;
        margin: 0 .5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    a {

        color: inherit;
        text-decoration: none;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }

    }

    span {

        margin-right: .2em;

        &:after {
            content: ',';
        }

        &:last-child {

            margin-right: 0;

            &:after {
                content: none;
            }

        }

    }

    .categories-list {
        color: $color-grey7;
        font-weight: $font-weight-bold;
    }

}