.article-content-body {

    margin-bottom: 2em;

    h2,
    h3,
    h4,
    h5,
    h6 {

        &:first-child {
            margin-top: 0;
        }

    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}