.article-content {

  iframe {
    display: block;
    margin: 0 auto;
  }

}

.article-links {

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 .8em;
  }

  a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
  }

  svg {
    font-size: .9em;
    margin-right: .5em;
  }

}

.article-links-videos {

  svg {
    font-size: .8em;
  }

}

@import 'article-header';
@import 'article-content-body';
@import 'article-meta';