.article-meta {

  color: $color-grey6;
  font-weight: $font-weight-bold;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 2em 0 .7em;

  li {

    display: inline-flex;
    margin: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {

      margin-right: 0;

      &:after {
        display: none;
      }

    }

    &:after {
      display: inline-block;
      content: '//';
      color: $color-brand-purple-light;
      font-weight: 900;
      margin: 0 .6em;
      transform: translateY(-2px);
    }

  }

  a {

    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }

  }

  span {

    margin-right: .2em;

    &:after {
      content: ',';
    }

    &:last-child {

      margin-right: 0;

      &:after {
        content: none;
      }

    }

  }

}