.article-list {

}

.article-list-more {

  font-size: 1.2em;
  font-weight: $font-weight-bolder;
  text-align: left;

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  svg {
    font-size: .9em;
    margin-left: .3em;
    transform: translateY(1px);
  }

}