.article-excerpt {

  margin-bottom: 4em;

  @include mobile() {
    font-size: .8em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p {

    margin: 0 0 .8em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  .article-meta {
    text-align: left;
    margin: 0;
  }

}

.article-excerpt-header {

  & + section {
    margin-top: .8em;
  }

}

.article-excerpt-header-title {

  margin: 0 0 .5em 0;

  a {

    &:hover {
      text-decoration: underline;
    }

  }

}