.masthead {

  padding: 8em 0;

  .container {
    position: relative;
    padding-right: 30vw;
  }

  h1 {
    font-size: clamp(1em, 5.5vw, 5.2em);
    margin: 0 0 .25em;
  }

  .logo {
    margin-left: -.05em;
  }

  .social-icons {
    font-size: clamp(1em, 2.6vw, 2.4em);
  }

  img {
    position: absolute;
    top: -7em;
    right: 0;
    width: 32em;
    font-size: clamp(.4em, 1.4vw, 1.05em);
  }

}

.masthead-tagline {
  color: lighten($color-grey5, 3);
  font-size: clamp(1em, 2.7vw, 2.4em);
  font-weight: 600;
  margin: 0 0 .4em;
}