.masthead {

  overflow: hidden;
  padding: 2em 0 1em;

  @media all and (min-width: 600px) {
    padding: clamp(1em, 14vw, 12em) 0;
    overflow: visible;
  }

  .container {

    position: relative;
    text-align: center;
    font-size: 1.2em;

    @media all and (min-width: 600px) {
      font-size: 1em;
      text-align: left;
      padding-right: 30vw;
    }

  }

  h1 {

    font-size: 2em;
    margin: 0 0 .25em;

    @media all and (min-width: 600px) {
      font-size: clamp(2em, 6vw, 5em);
    }

  }

  .logo {
    margin-left: -.05em;
  }

  .social-icons {

    font-size: 1em;

    @media all and (min-width: 600px) {
      font-size: clamp(1em, 3.2vw, 2.5em);
    }

  }

  .cosmo-wave {

    width: 32em;
    font-size: .4em;
    pointer-events: none;
    touch-action: none;
    margin-top: 5em;
    margin-bottom: -25em;

    @media all and (min-width: 600px) {
      position: absolute;
      top: -7em;
      right: -1em;
      font-size: clamp(.4em, 1.4vw, 1.2em);
      margin: 0;
    }

  }

}

.masthead-tagline {

  color: lighten($color-grey5, 3);
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 .4em;

  @media all and (min-width: 600px) {
    font-size: clamp(1em, 3.2vw, 2.4em);
  }

}