.social-icons {

    @include horizontalList();

    li {
        margin: 0;
    }

    a {

        display: block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;

    }

    a,
    path,
    polygon {

        color: $color-grey5;

    }

    a {

        &:hover {

            &,
            path,
            polygon {
                color: $color-primary;
            }

        }

    }

}