.social-icons {

    @include horizontalList();

    li {
        margin: 0;
    }

    a {

        display: block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;

        &:hover {

            &,
            path,
            polygon {
                color: $color-primary;
            }

        }

    }

    a,
    path,
    polygon,
    svg {

        color: $color-grey5;

    }

    svg {
        width: 28px;
    }

    :not(.home) & {

        svg {
            height: 1em;
        }

    }

}

.social-icons-eggheadio {
    transform: translateY(1px);
}