.tag {
  display: inline-block;
  color: white;
  font-size: .6em;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: $color-primary;
  padding: .4em .6em;
  border-radius: .2em;
}

.tag-new {
  background-color: #731bff;
}