.webmentions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.webmentions-mention {

  position: relative;
  width: 3em;
  height: 3em;
  padding: .1em;
  margin: 0;

  &:hover {

    svg {
      opacity: 1;
      transform: scale(1);
    }

  }

  a {
    width: 100%;
    height: 100%;
  }

  a,
  img {
    display: block;
  }

  svg {

    position: absolute;
    top: .4em;
    left: .4em;
    z-index: 1;
    opacity: 0;
    width: 1em;
    height: 1em;
    background-color: white;
    padding: .2em;
    border-radius: 100%;
    transform: scale(.8);
    transition: transform .3s, opacity .1s;

    &,
    path {
      fill: $color-primary;
      color: $color-primary;
    }

  }

}

.webmentions-mention-author-image {

  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;

}