@import "styles/settings/__settings";

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

@import "base";
@import "wordpress";
