.footer {

    .row {
        padding: 0;
        margin-bottom: 0;
    }

    .container {

        margin: 8em auto;

        @include mobile() {
            margin: 6em auto;
        }

        &:last-child {
            margin-bottom: 2em;
        }

    }

}

.footer-secondary {

    color: $color-grey4;
    font-size: 1em;
    text-align: center;

    @include mobile() {
        font-size: .9em;
        margin-top: .2em;
    }

    p {
        font-size: 1.8em;
        margin: 0 0 .5em;
    }

    .emoji {
        font-size: 2.5em;
        margin-bottom: .2em;
    }

    ul,
    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0 .5em;
    }

    button,
    a {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        text-decoration: none;
        font-weight: bold;
        background: none;
        text-transform: none;


        svg {
            margin-right: .5em;
        }

    }

}

.footer-primary {

    text-align: center;

    .align-right {
        text-align: center;
    }

}

.footer-social,
.footer-links {

    &,
    a,
    path,
    polygon,
    svg {

        color: $color-grey3;

    }

    .social-icons-redbubble,
    .social-icons-eggheadio {
        svg,
        path {
            fill: $color-grey3;
        }
    }

}

.footer-links {

    ul {
        padding: 0;
        margin: 0;
    }

    li {

        display: inline-block;
        height: 2em;
        line-height: 2em;
        margin: 0 .5em;

        &:after {
            content: '•';
            margin-left: 1em;
        }

        &:last-child {

            &:after {
                display: none;
                content: '';
            }

        }

    }

    a {
        font-size: .8em;
        text-decoration: none;
    }

}