.header {

  text-align: center;

  .row {

    display: flex;
    width: 100%;
    margin-bottom: 0;

    @include mobile() {
      flex-direction: column;
      align-items: center;
    }

    .home & {
      display: block;
      padding: 0;
    }

  }

  .h1 {

    margin: 0;

    a {
      font-weight: $font-weight-bolder;
    }

    .home & {

      text-align: center;

      a {
        font-size: 1.6em;
      }

      @include mobile() {
        font-size: 1.8em;
      }

    }

    body:not(.home) & {

      font-size: 1em;

    }

  }

  .tagline {
    display: block;
    color: $color-grey4;
    font-weight: $font-weight-medium;
    font-size: .5em;
    line-height: 1.2em;
    margin-top: .6em;
  }

  .header-logo,
  .header-social {
    flex-grow: 1;
  }

  .header-logo a {
    text-decoration: none;
  }

  .social-icons {

    .home & {

      display: flex;
      font-size: 1.6em;
      flex-flow: wrap;
      justify-content: center;
      margin-top: .3em;

    }

    body:not(.home) & {

      @include desktop() {
        text-align: right;
      }

    }

  }

}

.header-notice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: $color-primary;
  padding: 1em;
}