.header {

    text-align: center;

    .home & {

        margin: 8em auto;

        @include mobile() {
            margin: 4em auto;
        }

    }

    .row {

        display: flex;
        width: 100%;
        margin-bottom: 0;

        .home & {
            display: block;
            padding: 0;
        }

    }

    .h1 {

        margin: 0;

        a {
            font-weight: $font-weight-bolder;
        }

        .home & {

            text-align: center;

            a {
                font-size: 1.6em;
            }

            @include mobile() {
                font-size: 1.8em;
            }

        }

        body:not(.home) & {

            font-size: 1em;

        }

    }

    .tagline {
        display: block;
        color: $color-grey4;
        font-weight: $font-weight-medium;
        font-size: .5em;
        line-height: 1.2em;
        margin-top: .6em;
    }

    .header-logo,
    .header-social {
        flex-grow: 1;
    }

    .header-logo {

        body:not(.home) & {

            font-size: 1.4em;
            text-align: left;

            a {

                display: block;
                height: 2em;
                color: $color-grey4;
                line-height: 2em;

                &:hover {
                    color: $color-primary;
                }

            }

        }

        @include mobile() {
            text-align: center;
        }

    }

    .social-icons {

        .home & {

            display: flex;
            font-size: 1.6em;
            flex-flow: wrap;
            justify-content: center;
            margin-top: .3em;

            a,
            path,
            polygon {

                color: $color-grey5;
                fill: $color-grey5;

                &:hover {
                    color: $color-primary;
                    fill: $color-primary;
                }

            }

        }

        body:not(.home) & {

            @include desktop() {
                text-align: right;
            }

        }

    }

}