.home {

  .article-header {

    h2 {
      margin-bottom: $margin-bottom-h2 / 4;
    }

  }

  .header {

    margin: 8em auto 4em;

    @include mobile() {
        margin: 4em auto;
    }

  }

  .react-tabs__tab-list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 4em;
  }

  .react-tabs__tab {
    color: $color-grey4;
    padding: .4em;
    margin: 0 1em;
    cursor: pointer;
    border-bottom: solid 3px transparent;
  }

  .react-tabs__tab--selected {
    color: $color-grey7;
    border-bottom: solid 3px $color-primary;
  }

}

.home-newsletter {

  color: white;
  background-color: $color-brand-blue-dark;
  padding: 2em 0;

  a {

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .5em;

    @media all and (min-width: 600px) {
      font-size: clamp(.5em, 1.3vw, 1.1em);
      justify-content: flex-start;
    }

    &:before {
      content: '';
      margin-left: -.5em;
    }

  }

}

.home-newsletter-icon {
  font-size: 4em;
  margin-right: .5em;
  transform: translateY(-5px);
}

.home-newsletter-content {

  margin-right: 2.5em;

  h3,
  p {
    color: white;
  }

  h3 {
    margin: 0 0 .2em;
  }

  p {
    opacity: .9;
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
  }

}

.home-newsletter-button {
  font-size: 1.3em;
  background-color: $color-brand-blue-light;
}

.home-content {

  display: flex;
  padding-top: 6em;

  @include tablet() {
    display: block;
  }

}

.home-content-header {

  display: flex;
  font-size: .7em;
  align-items: center;
  margin-bottom: 3em;

  @media all and (min-width: 600px) {
    font-size: 1em;
  }

  h2,
  h3 {
    margin: 0;
  }

  .header-icon {
    margin-right: .2em;
  }

}

.home-content-header-title {

  flex-grow: 1;
  text-decoration: none;


}

.home-content-header-actions {

  a {
    display: flex;
    align-items: center;
    color: $color-grey5;
    font-weight: 600;
    text-decoration: none;
  }

  svg {
    margin-right: .4em;
  }

  .icon-rss {
    transform: translateY(-1px);
  }

}

.home-main {

  width: 65%;
  padding-right: 6em;

  @include tablet() {
    width: 100%;
    padding-right: 0;
    margin-bottom: 5em;
  }

}

.home-sidebar {

  width: 35%;
  font-size: .8em;

  @include tablet() {
    width: 100%;
  }

}

.home-sidebar-section {
  margin-bottom: 5em;
}