@import "styles/settings/__settings";
@import "styles/util/__util";

.footerSecondary {
  color: $color-grey4;
  font-size: 1em;
  text-align: center;

  @include mobile() {
    font-size: 0.9em;
    margin-top: 0.2em;
  }

  p {
    font-size: 1.8em;
    margin: 0 0 0.5em;
  }

  .emoji {
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }

  ul,
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 0.5em;
  }

  button,
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    background: none;
    text-transform: none;

    svg {
      margin-right: 0.5em;
    }
  }
}

.footerEmailSignup {
  text-align: center;

  .emoji {
    font-size: 2em;
  }

  p {
    font-size: 1.6em;
    margin: 0.5em 0;
  }
}

.footerEmailSignupForm {
  justify-content: center;
}

.footerPrimary {
  text-align: center;
}

.footerSocial,
.footerLinks {
  &,
  a,
  path,
  polygon,
  svg {
    color: $color-grey3;
  }
}

.footerLinks {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: 0 0.5em;

    &:after {
      content: "•";
      margin-left: 1em;
    }

    &:last-child {
      &:after {
        display: none;
        content: "";
      }
    }
  }

  a {
    font-size: 0.8em;
    text-decoration: none;
  }
}
