$color-red: #BC493A;
$color-pink: #FFC6DD;
$color-magenta: #CE65A0;
$color-purple: #30284A;
$color-violet: #9452B7;
$color-indigo: #6F3D8A;
$color-blue: #3E4270;
$color-cyan: #2F96B5;
$color-teal: #007079;
$color-green: #40893F;
$color-yellow: #FFCC4C;
$color-amber: #E8AD3E;
$color-orange: #D89D38;
$color-brown: #7A4D2C;
$color-grey: #747A80;

$color-grey1: lighten($color-grey, 45);
$color-grey2: lighten($color-grey, 30);
$color-grey3: lighten($color-grey, 15);
$color-grey4: $color-grey;
$color-grey5: darken($color-grey, 15);
$color-grey6: darken($color-grey, 30);
$color-grey7: darken($color-grey, 45);

$color-brand-purple-light: #9C5CC4;
$color-brand-purple-medium: #692BA8;

$color-primary: $color-brand-purple-medium;
$color-secondary: $color-blue;

$color-alert: $color-orange;
$color-alert-background: lighten( $color-alert, 25 );

$color-warning: $color-yellow;
$color-warning-background: lighten( $color-warning, 25 );

$color-error: $color-red;
$color-error-background: lighten( $color-error, 25 );

$color-success: $color-green;
$color-success-background: lighten( $color-success, 25 );

$color-info: $color-blue;
$color-info-background: lighten( $color-info, 25 );

$color-map:
  ( 'red' $color-red )
  ( 'pink' $color-pink )
  ( 'magenta' $color-magenta )
  ( 'purple' $color-purple )
  ( 'violet' $color-violet )
  ( 'indigo' $color-indigo )
  ( 'blue' $color-blue )
  ( 'cyan' $color-cyan )
  ( 'teal' $color-teal )
  ( 'green' $color-green )
  ( 'yellow' $color-yellow )
  ( 'amber' $color-amber )
  ( 'orange' $color-orange )
  ( 'brown' $color-brown )
  ( 'grey' $color-grey )

  ( 'grey1' $color-grey1 )
  ( 'grey2' $color-grey2 )
  ( 'grey3' $color-grey3 )
  ( 'grey4' $color-grey4 )
  ( 'grey5' $color-grey5 )
  ( 'grey6' $color-grey6 )
  ( 'grey7' $color-grey7 )

  ( 'purple-light' $color-brand-purple-light )
  ( 'purple-medium' $color-brand-purple-medium )

  ( 'alert' $color-alert )
  ( 'warning' $color-warning )
  ( 'error' $color-error )
  ( 'success' $color-success )
  ( 'info' $color-info )
;


/*
* Color Classes
*
* Create colors for color classes
* (.color-blue, .background-blue, etc.)
*/

@each $color in $color-map {

  $name: nth($color, 1);
  $value: nth($color, 2);

  .color-#{$name} {
    color: $value;
  }

  .background-#{$name} {
    background-color: $value;
  }

}