@import "styles/settings/__settings";
@import "styles/util/__util";

.socialIcons {
  @include horizontalList();

  &:before {
    content: "";
    margin-left: -0.4em;
  }

  &:after {
    content: "";
    margin-right: -0.4em;
  }

  li {
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;

    &:hover {
      &,
      path,
      polygon {
        color: $color-primary;
      }
    }
  }

  svg {
    color: $color-grey5;
    width: 1em;
    height: 1em;
  }
}

.social-icons-youtube {
  svg {
    transform: translateY(1px) scale(1.2);
  }
}

.social-icons-email {
  svg {
    transform: translateY(1px) scale(1.05);
  }
}

.social-icons-rss {
  svg {
    transform: scale(0.95);
  }
}

.social-icons-twitch {
  svg {
    transform: translateY(2px);
  }
}
